mixin footer-body(footerBlocks)
    nav.footer-body__navigation
        -
            let classNames = Object.keys(footerBlocks);
            let classNameNumber = 0;
        each footerBlock in footerBlocks
            if (footerBlock==footerBlocks.describe)
                div(class='footer-body__'+classNames[classNameNumber])
                    .footer-body__logo(class='logo')
                    .footer-body__text-describe #{footerBlocks.describe}
            else if (footerBlock==footerBlocks.subscribe)
                div(class='footer-body__'+classNames[classNameNumber])
                    each item in footerBlock
                        if (item.title)
                            .navigation__title #{item.title}
                        else
                            .navigation__text #{item.text}
                    .form                
            else 
                ui(class='footer-body__'+classNames[classNameNumber])
                    each item in footerBlock
                        li.footer-body__link
                            if (item.title)
                                a.navigation__title #{item.title}
                            else
                                a.navigation__text #{item.text}
            - classNameNumber++;