mixin checkbox(options = {})
    -
        const {
            title="",
            subtitle="",
            isActive=false,
        } = options


    .checkbox
        label.checkbox__label
            input.checkbox__input(type="checkbox" checked=options.isActive tabindex="-1")
            span.checkbox__box(tabindex="0")
            .checkbox__wrapper
                span.checkbox__title=title
                span.checkbox__subtitle=subtitle